<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ meta['description'] }}">
    <meta property="og:title" content="{{ meta['title'] }}">
    <meta property="og:site_name" content="My Flask App">
    <meta property="og:type" content="website">
    <meta property="og:description" content="{{ meta['description'] }}">
    <meta property="og:url" content="{{ meta['og_url'] }}">

    {% if request.path in ['/', '/index'] %}
        <link rel="canonical" href="{{ url_for('main.index') }}" />
    {% endif %}

    {% assets "css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

    {% assets "js" %}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <title>{{ meta["title"] }}</title>
  </head>
  <body class="bg-blue-100">
    {% block content %}
    {% endblock content %}
  </body>
</html>