<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
  </head>
  <body>
    <header>
      <!-- Navigation menu goes here -->
    </header>
    
    <main>
        {% block content %}
        {% endblock %}
    </main>
    
    <footer>
      <!-- Footer content goes here -->
    </footer>
  </body>
</html>